IEEEabrv.bib
IEEEexample.bib
IEEEfull.bib
IEEEtran.bst
IEEEtran.cls
IEEEtranBST1.tar.gz
IEEEtranS.bst
IEEEtran_HOWTO.pdf
IEEEtran_bst_HOWTO.pdf
abyd.docx
bare_adv.tex
bare_conf.tex
bare_jrnl.tex
bare_jrnl_compsoc.tex
bigdata.aux
bigdata.bbl
bigdata.blg
bigdata.dvi
bigdata.fdb_latexmk
bigdata.fls
bigdata.log
bigdata.out
bigdata.pdf
bigdata.tex~
changelog.txt
unix_latex_template.tar.gz

